html.fsrInvitePresent:not(.fsrM) {
    overflow: hidden
}

.fsrC * {
    border: 0;
    font-size: 100% !important;
    font: inherit;
    vertical-align: baseline;
    cursor: default;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif !important;
    position: static;
    height: auto;
    text-indent: 0;
    width: auto;
    float: none !important;
    text-shadow: none;
    text-align: left;
    line-height: 1;
    background-color: transparent;
    color: #000 !important;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-style: normal !important
}

.fsrC {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(ie6backdrop.gif);
    background: rgba(0, 0, 0, .4);
    z-index: 9999999;
    text-align: center
}

.fsrFloatingContainer {
    display: inline-block;
    margin-left: auto !important;
    margin-right: auto !important;
    zoom: 1
}

.fsrFloatingMid {
    padding: 1em !important;
    background: #666;
    background: rgba(0, 0, 0, .45);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em
}

.fsrInvite {
    display: block;
    background-color: #fff;
    padding: 1em !important;
    position: relative
}

.fsrDialog {
    width: 34em
}

.fsrDialog.fsrDSpacer {
    margin-right: 2em !important
}

.fsrDialog.fsrMultiDialog {
    width: 26em;
    float: left !important
}

.fsrLogos {
    overflow: hidden;
    height: 4em;
    display: block;
    position: relative;
    margin-bottom: 1em !important
}

.fsrLogos img {
    display: inline !important;
    max-width: 16em;
    max-height: 4em
}

.fsrCorpLogo {
    float: right !important;
    width: 7.6em;
    height: 4em
}

.fsrFooter {
    height: 2em;
    margin-top: 1em !important
}

.fsrTruste {
    width: 6em;
    height: 2em
}

.fsrDialogs {
    display: inline-block;
    white-space: nowrap;
    zoom: 1
}

.fsrCloseBtn {
    position: absolute !important;
    top: .3em;
    right: .3em;
    border: .2em solid #777 !important;
    color: #777 !important;
    text-decoration: none;
    cursor: pointer;
    padding-left: .2em !important;
    padding-right: .2em !important;
    line-height: 100%;
    font-size: 120% !important;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    font-weight: 700
}

.fsrCloseBtn:hover {
    text-decoration: none;
    background-color: #ccc !important
}

.fsrQuiz {
    background-color: #f0f0f0;
    padding: .5em !important;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em
}

.fsrQuizQuestion {
    font-weight: 700
}

.fsrAnswer {
    cursor: pointer;
    margin-left: .5em !important
}

.fsrAnswer * {
    cursor: pointer
}

.fsrAnswer:hover label {
    color: #c00 !important
}

.fsrAnswer input {
    margin-right: .5em !important;
    vertical-align: middle
}

.fsrC u {
    text-decoration: underline;
    font-weight: inherit
}

.fsrHeading {
    font-size: 145% !important;
    font-weight: 700 !important;
    margin-top: 1em !important
}

.fsrBlurb {
    font-size: 100% !important
}

.fsrDialog .fsrHeading {
    margin-bottom: .3em !important
}

.fsrDialog p, .fsrHeading {
    line-height: 145%
}

.fsrSubBlurb {
    font-weight: 700
}

.fsrAttribution {
    font-size: 80% !important;
    color: #666 !important
}

.fsrDialog p {
    margin-bottom: .6em !important
}

.fsrB div {
    width: 48%
}

.fsrB a {
    border: 1px solid #999;
    background: -moz-linear-gradient(top, #fbfbfb 0, #f0f0f2 21%, #dfe0e5 49%, #f0f1f2 80%, #fbfbfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(21%, #f0f0f2), color-stop(49%, #dfe0e5), color-stop(80%, #f0f1f2), color-stop(100%, #fbfbfb));
    background: -webkit-linear-gradient(top, #fbfbfb 0, #f0f0f2 21%, #dfe0e5 49%, #f0f1f2 80%, #fbfbfb 100%);
    background: -o-linear-gradient(top, #fbfbfb 0, #f0f0f2 21%, #dfe0e5 49%, #f0f1f2 80%, #fbfbfb 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0, #f0f0f2 21%, #dfe0e5 49%, #f0f1f2 80%, #fbfbfb 100%);
    background: linear-gradient(to bottom, #fbfbfb 0, #f0f0f2 21%, #dfe0e5 49%, #f0f1f2 80%, #fbfbfb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#dfe0e5', GradientType=0);
    width: 100%;
    display: block;
    text-align: center;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    line-height: 250%;
    font-size: 110% !important;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    text-transform: none !important
}

.fsrB a:active, .fsrDoHover a, html:not(.fsrM) .fsrB a:hover {
    background: -moz-linear-gradient(top, rgba(227, 227, 227, 1) 0, rgba(198, 198, 198, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(198, 198, 198, 1)));
    background: -webkit-linear-gradient(top, rgba(227, 227, 227, 1) 0, rgba(198, 198, 198, 1) 100%);
    background: -o-linear-gradient(top, rgba(227, 227, 227, 1) 0, rgba(198, 198, 198, 1) 100%);
    background: -ms-linear-gradient(top, rgba(227, 227, 227, 1) 0, rgba(198, 198, 198, 1) 100%);
    background: linear-gradient(top, rgba(227, 227, 227, 1) 0, rgba(198, 198, 198, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E4', endColorstr='#C6C6C6', GradientType=0)
}

.fsrB .fsrAcceptButtonContainer, .fsrTE {
    float: right !important
}

.fsrM {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    vertical-align: baseline !important
}

html.fsrMobileCompat {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-text-size-adjust: 100%
}

html.fsrMobileCompat input {
    -webkit-user-modify: read-write-plaintext-only !important;
    margin: 0 !important;
    padding: 0 !important
}

html.fsrMobileCompat * {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important
}

.fsrM .fsrAttribution {
    position: absolute;
    bottom: 1.5em;
    left: 1em;
    font-size: 87% !important;
    max-width: 15em;
    max-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.fsrM .fsrB {
    margin-top: 1em !important
}

.fsrM .fsrHeading {
    font-size: 150% !important;
    margin-top: 0
}

.fsrM .fsrBlurb {
    font-size: 140% !important
}

.fsrM .fsrSubBlurb {
    font-size: 100% !important;
    font-style: italic
}

.fsrM .fsrDialog {
    width: 23em
}

.fsrM.fsrWider .fsrDialog {
    width: 35em !important
}

.fsrM.fsrWider .fsrAttribution {
    max-width: 35em
}

.fsrM.fsrOnExit .fsrDialog {
    width: 25em !important
}

.fsrM.fsrWider.fsrOnExit .fsrDialog {
    width: 45em !important
}

.fsrM .fsrLogos img {
    max-width: 8em;
    max-height: 3em
}

.fsrM .fsrB a, .fsrM .fsrB a:active, .fsrM .fsrB a:hover, .fsrM .fsrB a:visited {
    font-size: 135% !important;
    line-height: 250%
}

.fsrM .fsrCorpLogo {
    width: 6.885em;
    height: 3em
}

.fsrM .fsrLogos {
    height: 3em
}

.fsrM .fsrCloseBtn {
    display: none
}

.fsrM .fsrQuizQuestion {
    font-size: 130% !important
}

.fsrM .fsrAnswer {
    font-size: 130% !important;
    line-height: 130%
}

.fsrEmailOrNumber {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: 0;
    margin: 0 !important;
    padding: 0 0 0 2% !important;
    border: .4em solid #aaa;
    font-size: 1.2em !important;
    border-radius: .1em;
    line-height: 2em;
    width: 96%;
    height: 2em;
    box-sizing: content-box
}

.fsrWinPhone .fsrEmailOrNumber {
    height: 2em !important
}

.fsrM.fsrWider.fsrOnExit .fsrEmailOrNumber {
    font-size: 1.3em !important;
    line-height: 2.1em
}

.fsrM div.fsrMobileExitError {
    font-weight: 700;
    color: #e1543d !important
}

div.fsrC .hideField {
    visibility: hidden;
    display: none
}

div.fsrC .showField {
    visibility: visible;
    display: block
}

div.fsrC.ie6 {
    position: absolute
}

div.fsrC.ie6 div.fsrFloatingMid {
    background-image: url(ieborder.png)
}

.fsrC.ie6 .fsrDialogs {
    white-space: normal !important
}

div.fsrC.ie6 .fsrCloseBtn {
    top: .3em !important;
    right: 1em !important
}

div.fsrC.ie6 .fsrB .fsrDeclineButtonContainer, div.fsrC.ie6 .fsrSiteLogo {
    float: left !important
}

div.fsrC.ie6 .fsrB A:hover {
    text-decoration: none !important;
    line-height: 250% !important
}

div.fsrC.ie6 .fsrB a {
    background-image: url(about:blank)
}

.fsrC.ie6 .fsrLogos {
    position: static
}

.fsrC.ie6 .fsrCorpLogo {
    position: relative !important
}

div.fsrC.ie6 .fsrSiteLogo {
    height: 4em
}

.hidden-accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

::-webkit-input-placeholder {
    color: #767676
}

:-moz-placeholder {
    color: #767676
}

::-moz-placeholder {
    color: #767676
}

:-ms-input-placeholder {
    color: #767676
}

.fsrC a:active, .fsrC a:focus, .fsrC input:active, .fsrC input:focus {
    outline: #136F7E solid 2px !important
}

.fsrHide {
    visibility: hidden !important
}

.fsrNone {
    display: none !important
}