body {
    color: #333;
    overflow-x: hidden;
}

.hidden_text {
    height: 0;
    visibility: hidden;
    position: fixed;
    left: -3000px;
    bottom: -3000px;
}

.dataTables_scrollBody::-webkit-scrollbar {
    -webkit-appearance: none;
}

.dataTables_scrollBody::-webkit-scrollbar:vertical {
    width: 11px;
}

.dataTables_scrollBody::-webkit-scrollbar:horizontal {
    height: 11px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
