/* ***************************Forms Library *********************************/
div#headline {
    display: block !important;
    border: solid #d6d0ba;
    border-width: 1px 0px;
    color: #000;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
    *margin-bottom: 0;
    overflow: hidden;
    padding: 10px 15px;
    margin-left: 0px;
    padding-left: 4px;
}

div#headline {
    position: absolute;
    right: 175px;
    color: #333;
    font-size: 7pt;
    padding-top: 10px;
}

div#headline {
    font-size: 6pt;
    text-decoration: none;
}

#formSearch_form {
    float: left;
    width: 400px;
}

span#formats {
    width: 360px;
    float: right;
    color: #333;
    font-size: 7pt;
    clear: right;
}

#pageLayout #formSearch {
    margin: 0 0px 2em 4px;
}

#pageLayout #formSearch #formsDetail a {
    text-decoration: underline;
}

#pageLayout #formSearch a:hover {
    text-decoration: underline;
}

#formSearch td {
    font-size: 12pt;
    padding: 0px;
    vertical-align: middle;
}

#formSearch input {
    border: 1px solid #9894c4;
}

#formSearch input#getSearchResult_formsLibraryVO_searchCriteria_searchBy, #formSearch label {
    vertical-align: top;
    margin-top: 2px;
}

#formSearch input[type="radio"] {
    border: none;
}

.formSearch_inst {
    font-size: 0.85em;
    font-style: italic;
    *margin-top: 5px;
}

#formTabs_container {
    overflow: hidden;
    margin: 10px 0;
    clear: both;
}

.formTabs {
    float: left;
}

.formTabs a {
    background: #5c69ad;
    color: #fff;
    display: block;
    font-weight: bold;
    width: 82px;
    _width: 92px;
    height: 39px;
    _height: 52px;
    padding: 5px;
    text-align: center;
    font-size: 0.85em;
    margin-right: 3px;
    text-decoration: underline !important;
    line-height: 1.2em;
}

.formTabs a.button:hover {
    background: #7e8bc6;
    text-decoration: none !important;
}

.formTabs a.selected:link, .formTabs a.selected:visited, .formTabs a.selected:active {
    background: #d5dcf1;
    color: #333;
    cursor: default;
    text-decoration: none !important;
}

.forms td {
    font-size: 90%;
}

#pageLayout table.forms {
    margin-bottom: 15px;
}

#formsIndex {
    border: 1px solid #666;
    width: 757px;
    _width: 759px;
    clear: both;
}

#formsIndex #formsFilter {
    background-color: #e6e2d6;
    border: solid #999;
    border-width: 1px 0px;
    font-size: 9pt;
    margin: 0px;
    padding: 3px 15px;
}

#formsIndex #formsFilter td {
    vertical-align: bottom;
}

#formsIndex table.forms caption {
    font-weight: bold;
    padding: 10px 0px 5px 10px;
    text-align: left;
}

#formsIndex .tabHeader {
    font-size: 12pt;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
}

#formsIndex table.forms {
    border-bottom: 1px solid #666;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

#formsIndex table.forms th {
    background-color: #666;
    color: #fff;
    line-height: 100%;
    padding: 5px 5px 5px 10px;
    text-align: left;
    vertical-align: bottom;
}

#formsIndex table.forms td {
    padding: 5px 10px;
}

#formsIndex table.forms tr.odd {
    background-color: #F4F7FB;
}

#formsIndex table.forms tr.even {
    background-color: #fff;
}

#formsIndex #formsJump {
    border-bottom: 1px solid #999;
    overflow: hidden;
    margin: 0;
    padding: 10px 10px 10px 15px;
    font-size: 1.2em;
    line-height: 1.3em;
}

#formsIndex #formsJump a {
    text-decoration: underline;
}

#formsIndex #formsJump a:hover {
    text-decoration: none;
}

#formsIndex #formsJump a {
    margin-left: 0;
}

#formsDetail {
    /*padding:15px;*/
}

#formsDetail h4, #formsDetail h3 {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    margin-left: 0.4em;
}

#formsDetail h3 {
    font-size: 1.4em;
    font-weight: bold;
}

#formsDownloads h4 {
    font-size: 13pt;
}

#formsDownloads {
    border-top: 1px solid #999;
    padding: 15px;
}

#formsDownloads ol {
    margin: 1em 0px 0px 0px;
    padding: 0px;
}

#formsDownloads ol li {
    margin: 0.5em 0px 0px 25px;
    padding: 0px;
}

#formsIndex #forms caption {

    font-size: 12pt;
    font-weight: bold;
    padding-left: 10px;
}

a.attachment {
    display: block;
    font-size: 8pt;
    margin: 0.5em 0px 1em 10px;
}

#formsIndex p {
    margin-left: 16px;
    font-size: 1.0em;
}

#formsIndex li {
    margin-left: 44px
}

.box hr {
    width: 200px;
    height: 0;
    border-bottom: 2px dotted #e4deb2
}

/* Fleet Misuse Form */
.error {
    color: red !important;
}

.span6 {
    width: 50%;
    float: left;
    padding-bottom: 50px;
}

#fleetMisuse fieldset {
    border: 0;
}

#fleetMisuse textarea {
    width: 95%;
}

#fleetMisuse legend {
    line-height: 1.2;
    font-size: 1.5em;
}

#fleetMisuse small {
    display: block;
    clear: both;
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

#fleetMisuse label {
    font-weight: 700;
    display: block;
    margin-top: 5px;
}

#checkboxes-fleetForm {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

#checkboxes-fleetForm li {
    background: none !important;
    padding: 0;
    margin: 0;
}

#checkboxes-fleetForm label {
    font-weight: 400;
}

input[type=radio], input[type=checkbox] {
    margin: 3px 5px 6px 0 !important;
}

#confirmation-code {
    color: red;
}

#checkboxes-fleetForm .error {
    display: none;
}

#fleetMisuse .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}




