#inner-main-navigation, #mobile-header, #footer, #footer-bar, #left-sidebar, .addthis_toolbox, #CID-info-wrap, .print-page, #breadcrumbs {
    display: none;
}

a:link:after, a:visited:after {
    content: "" !important;
}

a[href]:after {
    content: "" !important;
}

.table-responsive {
    overflow: visible;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 0;
}

body {
    padding-top: 10px !important;
    margin: 0;
    font-size: 13px;
}

body h1 {
    font-size: 30px;
}

body a {
    font-size: inherit !important;
}

#perdiem, #portal-results-content p, #perdiem-footnotes ol li {
    font-size: 11px;
}

#county {
    width: 20%;
}

#primaryDestination {
    width: 18%;
    overflow: hidden;
}

#maxLodging {
    width: 50%;
    overflow: hidden;
}

#right-sidebar {
    width: 100%;
    clear: both;
    float: none;
}

#main-column {
    width: 100%;
}
