#usasearch_sayt .ui-helper-hidden {
    display: none
}

#usasearch_sayt .ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

#usasearch_sayt .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

#usasearch_sayt .ui-helper-clearfix {
    zoom: 1
}

#usasearch_sayt .ui-helper-clearfix:before {
    content: "";
    display: table
}

#usasearch_sayt .ui-helper-clearfix:after {
    content: "";
    display: table;
    clear: both
}

#usasearch_sayt .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

#usasearch_sayt .ui-state-disabled {
    cursor: default !important
}

#usasearch_sayt .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

#usasearch_sayt .ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#usasearch_sayt .ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em
}

#usasearch_sayt .ui-widget .ui-widget {
    font-size: 1em
}

#usasearch_sayt .ui-widget input, #usasearch_sayt .ui-widget select, #usasearch_sayt .ui-widget textarea, #usasearch_sayt .ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em
}

#usasearch_sayt .ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url(/assets/legacy/sayt/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222
}

#usasearch_sayt .ui-widget-content a {
    color: #222
}

#usasearch_sayt .ui-widget-header {
    border: 1px solid #aaa;
    background: #ccc url(/assets/legacy/sayt/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222;
    font-weight: bold
}

#usasearch_sayt .ui-widget-header a {
    color: #222
}

#usasearch_sayt .ui-state-default, #usasearch_sayt .ui-widget-content .ui-state-default, #usasearch_sayt .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/assets/legacy/sayt/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555
}

#usasearch_sayt .ui-state-default a {
    color: #555;
    text-decoration: none
}

#usasearch_sayt .ui-state-default a:link, #usasearch_sayt .ui-state-default a:visited {
    color: #555;
    text-decoration: none
}

#usasearch_sayt .ui-state-hover, #usasearch_sayt .ui-widget-content .ui-state-hover, #usasearch_sayt .ui-widget-header .ui-state-hover, #usasearch_sayt .ui-state-focus, #usasearch_sayt .ui-widget-content .ui-state-focus, #usasearch_sayt .ui-widget-header .ui-state-focus {
    border: 1px solid #999;
    background: #dadada url(/assets/legacy/sayt/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

#usasearch_sayt .ui-state-hover a {
    color: #212121;
    text-decoration: none
}

#usasearch_sayt .ui-state-hover a:hover {
    color: #212121;
    text-decoration: none
}

#usasearch_sayt .ui-state-active, #usasearch_sayt .ui-widget-content .ui-state-active, #usasearch_sayt .ui-widget-header .ui-state-active {
    border: 1px solid #aaa;
    background: #fff url(/assets/legacy/sayt/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

#usasearch_sayt .ui-state-active a {
    color: #212121;
    text-decoration: none
}

#usasearch_sayt .ui-state-active a:link, #usasearch_sayt .ui-state-active a:visited {
    color: #212121;
    text-decoration: none
}

#usasearch_sayt .ui-widget :active {
    outline: 0
}

#usasearch_sayt .ui-state-highlight, #usasearch_sayt .ui-widget-content .ui-state-highlight, #usasearch_sayt .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(/assets/legacy/sayt/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636
}

#usasearch_sayt .ui-state-highlight a, #usasearch_sayt .ui-widget-content a, #usasearch_sayt .ui-widget-header a {
    color: #363636
}

#usasearch_sayt .ui-state-error, #usasearch_sayt .ui-widget-content .ui-state-error, #usasearch_sayt .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(/assets/legacy/sayt/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a
}

#usasearch_sayt .ui-state-error a, #usasearch_sayt .ui-widget-content a, #usasearch_sayt .ui-widget-header a, #usasearch_sayt .ui-state-error-text, #usasearch_sayt .ui-widget-content .ui-state-error-text, #usasearch_sayt .ui-widget-header .ui-state-error-text {
    color: #cd0a0a
}

#usasearch_sayt .ui-priority-primary, #usasearch_sayt .ui-widget-content .ui-priority-primary, #usasearch_sayt .ui-widget-header .ui-priority-primary {
    font-weight: bold
}

#usasearch_sayt .ui-priority-secondary, #usasearch_sayt .ui-widget-content .ui-priority-secondary, #usasearch_sayt .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

#usasearch_sayt .ui-state-disabled, #usasearch_sayt .ui-widget-content .ui-state-disabled, #usasearch_sayt .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

#usasearch_sayt .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(/assets/legacy/sayt/ui-icons_222222_256x240.png)
}

#usasearch_sayt .ui-widget-content .ui-icon, #usasearch_sayt .ui-widget-header .ui-icon {
    background-image: url(/assets/legacy/sayt/ui-icons_222222_256x240.png)
}

#usasearch_sayt .ui-state-default .ui-icon {
    background-image: url(/assets/legacy/sayt/ui-icons_888888_256x240.png)
}

#usasearch_sayt .ui-state-hover .ui-icon, #usasearch_sayt .ui-state-focus .ui-icon, #usasearch_sayt .ui-state-active .ui-icon {
    background-image: url(/assets/legacy/sayt/ui-icons_454545_256x240.png)
}

#usasearch_sayt .ui-state-highlight .ui-icon {
    background-image: url(/assets/legacy/sayt/ui-icons_2e83ff_256x240.png)
}

#usasearch_sayt .ui-state-error .ui-icon, #usasearch_sayt .ui-state-error-text .ui-icon {
    background-image: url(/assets/legacy/sayt/ui-icons_cd0a0a_256x240.png)
}

#usasearch_sayt .ui-corner-all, #usasearch_sayt .ui-corner-top, #usasearch_sayt .ui-corner-left, #usasearch_sayt .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px
}

#usasearch_sayt .ui-corner-all, #usasearch_sayt .ui-corner-top, #usasearch_sayt .ui-corner-right, #usasearch_sayt .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px
}

#usasearch_sayt .ui-corner-all, #usasearch_sayt .ui-corner-bottom, #usasearch_sayt .ui-corner-left, #usasearch_sayt .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px
}

#usasearch_sayt .ui-corner-all, #usasearch_sayt .ui-corner-bottom, #usasearch_sayt .ui-corner-right, #usasearch_sayt .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}

#usasearch_sayt .ui-widget-overlay {
    background: #aaa url(/assets/legacy/sayt/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

#usasearch_sayt .ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(/assets/legacy/sayt/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

#usasearch_sayt .ui-autocomplete {
    position: absolute;
    cursor: default
}

#usasearch_sayt * .ui-autocomplete {
    width: 1px
}

#usasearch_sayt .ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left
}

#usasearch_sayt .ui-menu .ui-menu {
    margin-top: -3px
}

#usasearch_sayt .ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%
}

#usasearch_sayt .ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1
}

#usasearch_sayt .ui-menu .ui-menu-item a.ui-state-hover, #usasearch_sayt .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px
}

#usasearch_sayt .ui-autocomplete {
    text-align: left;
    font-weight: bold;
    font-size: smaller
}

#usasearch_sayt .ui-menu a {
    color: #1445ac;
    font-size: .9em
}

#usasearch_sayt .ui-menu a.ui-state-hover, #usasearch_sayt .ui-menu a.ui-state-active {
    font-weight: bold
}